<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>The Brawn Barn</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico"> <!--Favicon found on this site: https://www.freepik.com/search?format=search&last_filter=type&last_value=icon&query=gym&type=icon-->
    </head>

    <body>
        <header>
            {% if g.user %}
                <!--<p>Username: {{ g.user }}</p>-->
                <p><a href=" {{ url_for('cart') }}"><img src="../static/favicon-16x16.png" class="cart" alt="shopping cart"></a></p>
                <p><a href=" {{ url_for('account') }}">Account</a></p>
                <p><a href=" {{ url_for('classes') }}">Classes</a></p>
                <p><a href=" {{ url_for('pts') }}">Personal Trainers</a></p>
                <p><a href=" {{ url_for('membership') }}">Membership</a></p>
                <p><a href=" {{ url_for('index') }}">Home</a></p>
            {% elif g.admin %}
                <p><a href=" {{ url_for('logout') }}">Logout</a></p>
                <p><a href=" {{ url_for('classes') }}">Classes</a></p>
                <p><a href=" {{ url_for('pts') }}">Personal Trainers</a></p>
                <p><a href=" {{ url_for('membership') }}">Membership</a></p>
                <p><a href=" {{ url_for('index') }}">Home</a></p>
            {% else %}
                <p><a href=" {{ url_for('register') }}">Register</a></p>
                <p><a href=" {{ url_for('login') }}">Login</a></p>
                <p><a href=" {{ url_for('adminLogin') }}">Admin Login</a></p>
            {% endif %}
        </header> 

        {% block main_content %} {% endblock %}

    </body>

</html>