{% extends "base.html" %}

{% block main_content %}

    <h1>{{ c["name"]}}</h1>
    <p>
        {{ c["description"] }}
    </p>
    <table>
        <tr>
            <th>Day</th>
            <th>Time 1</th>
            <th>Time 2</th>
        </tr>
        {% for time in t %} <!--Used CHatGPT to help this loop to operate properly as I could not get it to display the correct data from the right table.
        I know now I was using the wrong syntax to iterate through the correct table.-->
            <tr>
                <td>{{ time[1] }}</td>
                <td>{{ time[2] }}</td>
                <td>{{ time[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>You must purchase a membership option to book this class</p>
    <p>
        <a href="{{ url_for('membership')}}">Want to book a class?</a>
    </p>
    

{% endblock %}