{% extends "base.html" %}

{% block main_content %}

    <h1>Your Cart</h1>
    {% if cart and cart['memberships'] %}
        <p>{{ error_message }}</p>
        <table>
            <tr>
                <th>Membership:</th>
                <th>Price</th>
            </tr>
            {% for membership_id, quantity in cart['memberships'].items() %}
            <tr>
                <td>{{ names[membership_id] }}</td>
                <td>{{ total }}</td>
            </tr>
            {% endfor %}
        </table>

        {% for membership_id, name in names.items() %}
            <p>{{ name }} - <a href="{{ url_for('remove_from_cart', item_type='memberships', item_id=membership_id) }}">Remove</a></p>
            <a href="{{ url_for('checkout')}}">Checkout</a></p>
        {% endfor %}  

    {% else %}
        <h2>Your Cart is Empty</h2>
    {% endif %}      

{% endblock %}

