{% extends "base.html" %}

{% block main_content %}

    <h1>Checkout</h1>
    <form action="" methods="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.first_name.label }}
        {{ form.first_name() }}
        {% for error in form.first_name.errors %}
                {{ error }}
            {% endfor %}
        <br />
        {{ form.second_name.label }}
        {{ form.second_name() }}
        {% for error in form.second_name.errors %}
                {{ error }}
            {% endfor %}
        <br />
        {{ form.card.label }}
        {{ form.card() }}
        {% for error in form.card.errors %}
                {{ error }}
            {% endfor %}
        <br />
        {{ form.submit() }}
    </form>
    {{ message }}

{% endblock %}