html {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-content: center;
}

th, td {
    padding: 1em;
    text-align: center;
}

th {
    background-color: cornflowerblue;
}

th, td {
    border: 1px solid black;
}

header a {
    float: right;
    margin: 0.5em;
}

h1 {
    background-color: cornflowerblue;
}

html {
    background-color: azure;
}

a img {
    width: 100%;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: cornflowerblue;
    }

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: cornflowerblue;
    }

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: cornflowerblue;
    }

.centered1 {
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    transform: scale(1.1);
    font-size: 100px;
    border: 1px;
    padding: 0.2em;
    border-radius: 16px;
    }

.centered2 {
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    transform: scale(1.1);
    font-size: 100px;
    border: 1px;
    padding: 0.2em;
    border-radius: 16px;
    }

.centered3 {
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    transform: scale(1.1);
    font-size: 100px;
    border: 1px;
    padding: 0.2em;
    border-radius: 16px;
    }

.centered1:hover {
  background-color: cornflowerblue;
  color: azure;
  border: 1px;
  padding: 0.2em;
  border-radius: 16px;
}

.centered2:hover {
    background-color: cornflowerblue;
    color: azure;
    border: 1px;
    padding: 0.2em;
    border-radius: 16px;
  }

.centered3:hover {
  background-color: cornflowerblue;
  color: azure;
  border: 1px;
  padding: 0.2em;
  border-radius: 16px;
}

.ptCentered {
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    transform: scale(1.1);
    font-size: 100px;
    border: 1px;
    padding: 0.2em;
    border-radius: 16px;
}

.ptContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: cornflowerblue;
}

.cart{
    width: 23px;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

h1 {
    color: azure;
}