{% extends "base.html" %}

{% block main_content %}

    <h1>Our Membership Options</h1>

    <form action="" methods="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.filters.label }}
        {{ form.filters() }}
        <br />
        {{ form.submit() }}
    </form>

    <table>
        {% for member in membership %}
            <tr>
                <th>Price</th>
                <th>{{ member["name"] }}</th>
            </tr>
            <tr>
                <td>{{ member["price"] }}</td>
                <td><a href="{{ url_for('add_to_cart', membership_id=member['membership_id'] ) }}">Add to Cart</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}